/* global styling */
a {
    text-decoration: none;
}


/* flex layout */
body {
    height: 100vh;
    margin: auto;

    border-color: goldenrod;
    border-style: solid;
}
.container {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    text-align: center;
}
.flex-header {
    display: flex;
    justify-content: flex-end;
}
.flex-form {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


#title {
    color: rgb(144, 230, 158);
    margin-top: 1em;
}
#explain {
    text-align: center;
}


/* contribution graph & commits & output */
#contribution-graph {
    width: 500px;
    height: 100px;
    margin: 10px;
    
    border-color: #000;
    border-style: solid;
    border-radius: 5px;
}
#commit {
    width: 10px;
    height: 10px;
    margin: 2px;

    border-color: rgb(144, 230, 158);
    border-style: solid;
}
#schedule-output {
    display: none;

    width: 80%;
    height: 100px;
    margin: 25px;

    border-color: #000;
    border-style: solid;
    border-radius: 5px;
}